#Logoname
{
    height: 67px !important;
    padding:12px 0px !important;
}

button#back
{
    z-index: 1;
    position: fixed;
    transform: translate(-40vw, 100%);
    font-weight: bold;
    display: flex;
    justify-content:center;
    width: 40px;
    height: 35px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 7px 10px;
}

#chart
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#chart section
{
    justify-content: center;
    display: flex;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #222;
    box-shadow: 5px 5px 5px #333;
    background-color: white;
}

#chart section button
{
    align-self: flex-end;
    justify-self: end;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--Bmaincolor);
    filter:drop-shadow(2px 2px 2px #444);
    border: 2px solid #222;
    border-radius: 10px;
}

#piechart
{
    width: 450px;
    max-width: 450px;
    color:aqua;
    margin-bottom: 24px;
}

#data
{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

#data section
{
    align-self: center;
    display: block;
    height: 310px;
    width: 536px;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #222;
    box-shadow: 5px 5px 5px #333;
    background-color: white;
    word-wrap: break-word;
}


#data p
{
    filter: drop-shadow(1px 1px 1px #999);
}

#data p#title
{
    font-size: 34px;
}

#data p#money
{
    font-size: 32px;
    filter: drop-shadow(1px 1px 1px #a85e5e);
    color: red;
    padding: 40px 0px 40px 0px;
}

#FAQbox
{
    padding-top: 0px;
    width: 950px;
}

.container 
{
    border: 2px solid #222;
    margin-bottom: 50px;
    padding: 20px !important;
    border-radius: 10px;
    background-color:white;
    box-shadow: 5px 5px 5px #333;
}

.container h1
{
    font-size: 36px;
    padding-bottom: 24px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question 
{
    padding: 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h2 
{
    margin: 0px;
    font-size: 22px;
}

.faq-toggle {
    font-size: 22px;
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 10px;
    display: none;
}

.faq-answer p 
{
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #eee;
    font-size: 22px;
    line-height: 1.5;
}

.faq-item.active .faq-toggle 
{
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    display: block
}

a#zap
{
    padding-left: 20px;
    font-weight: bold;
    font-size: 26px;
    color: var(--maincolor);
    text-decoration: none;
}

@media screen and (max-width:1500px) 
{
    nav
    {
        justify-content: center;
    }

    .report
    {
        display: none;
    }

    button#back
    {
        position: fixed;
        transform: translate(-45vw, -125px);
    }
}


@media screen and (max-width:750px)
{
    nav
    {
        justify-content: center;
    }

    nav section
    {
        display: none;
    }

    .Logomarca
    {
        margin: 0px;
        padding: 0px;
    }

    main
    {
        padding: 12px;
    }

    button#back
    {
        transform: translate(-40vw, -100px);
    }

    #chart
    {
        justify-content: center;
        align-self: center;
    }
    
    #chart section
    {  
        width: 90vw;
        height: max-content;
    }

    #data
    {
        padding: 12px 0px;
    }

    #data section
    {
        padding: auto;
        display: block;
        width: 90vw;
    }

}

@media screen and (max-width:620px)
{
    #chart button
    {
        display: none;
    }
    
}

@media screen and (max-width:510px)
{

    button#back
    {
        transform: translate(-40vw, -250%);
    }

    #chart section
    {
        width: 86vw;
    }

    #data
    {
        padding: 12px 0px;
    }

    #data section
    {
        width: 86vw;
    }

    #data section p
    {
        font-size: 24px !important;
    }

    #data p:not(#title)
    {
        padding: 20px 0px 0px 0px;
    }

    #data p#money, #data p#title
    {
        font-size: 30px !important;
    }
}