#chart
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#chart section
{
    display: flex;
    height: 80%;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #222;
    box-shadow: 5px 5px 5px #333;
    background-color: white;
}

#chart section button
{
    align-self: flex-end;
    justify-self: end;
}

#piechart
{
    width: 500px;
    max-width: 500px;
    color:aqua
}

#data
{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#data section
{
    display: block;
    height: 250;
    width: 540px;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #222;
    box-shadow: 5px 5px 5px #333;
    background-color: white;
}


#data p
{
    filter: drop-shadow(1px 1px 1px #999);
}

#data p#title
{
    font-size: 34px;
}

#data p#money
{
    font-size: 32px;
    filter: drop-shadow(1px 1px 1px #a85e5e);
    color: red;
    padding: 40px 0px 40px 0px;
}

@media screen and (min-width:751px) 
{
    #chart section
    {
        height: 80%;
    }
}

@media screen and (max-width:750px)
{
    main
    {
        padding: 12px;
    }

    #chart
    {
        display: block;
    }
    
    #chart section
    {  
        width: 90%;
        height: max-content;
    }

    #data
    {
        padding: 12px 0px;
    }

    #data section
    {
        display: block;
        width: 90%;
    }
}

@media screen and (max-width:510px)
{

    #chart section
    {
        width: 86%;
    }

    #data
    {
        padding: 12px 0px;
        display: block;
    }

    #data section
    {
        display: block;
        width: 86%;
    }

    #data section p
    {
        font-size: 18px !important;
    }

    #data p:not(#title)
    {
        padding: 20px 0px 0px 0px;
    }

    #data p#money, #data p#title
    {
        
        font-size: 24px !important;
    }
}