/* Caixas de texto */

nav
{
    justify-content: center;
}

#page
{
    text-align: start;
    margin: 0px 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    height: calc(100vh - 220px);
}

nav button#back
{
    z-index: 1;
    position: fixed;
    left: 0;
    padding: 0px;
    margin-left: 40px;
    margin-top: 40px;
    align-self: flex-start;
    font-weight: bold;
    display: flex;
    justify-content:center;
    width: 40px;
    height: 35px;
    filter: var(--BTNshadow);
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 7px 10px;
}

#doc
{
    scrollbar-width: none;
    width: 85vw;
    height: 100%;
    padding: 2px 16px 2px 30px;
    white-space: pre-wrap;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    border: 2px solid #171242;
    box-shadow: 5px 5px 9px #333;
    overflow-wrap: break-word;
    overflow-y: auto;
}

@media screen and (max-width:650px) 
{
    #doc
    {
        width: 75vw;
        font-size: 20px;
    }
    
    #doc p, #doc ol, #doc li
    {
        font-size: 20px;
    }
}