
/* Definicoes gerais */

:root {
    --maincolor: #3873C4;
    --Bmaincolor: #36b4ee;
    --secondaycolor: #75E189;
}

body, ul, li, p 
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

* button
{
    cursor: pointer !important;
}

body
{
    display: block !important;
    height: 1fr;
    background: radial-gradient(var(--maincolor), #1957ff);
}

/* Header */

nav
{
    background-color: #eee;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .Logomarca , nav section
{
    flex-wrap: wrap;
    filter:drop-shadow(3px 3px 6px #999);
}

.Logomarca
{
    gap: 20px;
    justify-content: left;
    align-items: center;
}

#Logoname
{
    padding-bottom:12px;
}

nav section
{
    display: grid;
    gap: 20px;
}

nav input, nav button
{
    background-color: #ccc;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 5px 10px;
}

nav button#Logomarca
{
    background-color: inherit;
    border: 0px;
    border-radius: 0;
}

input
{
    width: 400px;
}

.Profile
{
    align-self: center;
    justify-self: right;
}

.Profile button
{ 
    border-radius: 50px;
    padding: 12px 15px;
}

.Profile .fa-user
{
    color: #1f1f1f;
    filter: drop-shadow(3px 3px 5px #444);
}

button:hover:not(#Logomarca)
{
    filter:brightness(90%);
}

/* Conteudo pricipal */

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    padding: 40px 80px;
}

main section#btn
{
    display: flex;
    padding-left: 98%;
    gap: 12px;
    filter:drop-shadow(2px 2px 2px #444);
}

main section button
{
    display: flex;
    justify-content:center;
    width: 40px;
    height: 35px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 7px 10px;
}

div#cardbox
{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px 40px;
    padding-top: 10px;
}

div.card
{
    width: 20vw;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    overflow-y: auto;
    border-radius: 12px;
    border: 2px solid #222;
    padding: 0px 18px;
    background-color: white;
    filter:drop-shadow(3px 3px 4px #333);
    align-items: flex-end;
}


div.card h3
{
    position: relative;
    align-self: flex-start;
    width: 100%;
}

div.text 
{
    align-self: start;
}

div.card button
{
    position: absolute;
    right: 0;
    align-self: flex-end;
    margin: 20px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--Bmaincolor);
    filter:drop-shadow(2px 2px 2px #444);
    border: 2px solid #222;
    border-radius: 10px;
    padding: 10px 12px;
}

footer
{
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 60px 0px;
}

/*Rodape*/
footer button
{
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 0px 40px;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
}

@media screen and (max-width: 1500px) 
{
    div#cardbox
    {
        grid-template-columns: repeat(2, 1fr);
    }

    div.card
    {
        width: 40vw;
        height: 32vh;
    }
}

@media screen and (max-width: 1400px) 
{
    div#cardbox
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1200px)
{

    nav input
    {
        width: fit-content;
    }
}

@media screen and (max-width: 1000px) and (max-height: 450px) 
{
    div.card
    {
        height: 60vh;
    }
}

@media screen and (max-width:800px) 
{
    div.card
    {
        width: 70vw;
        height: 32vh;
    }   
}

@media screen and (max-width:510px)
{
    nav
    {
        justify-content: center;
    }

    nav section
    {
        display: none;
    }

    .Logomarca
    {
        margin: 0px;
        padding: 0px;
    }

    #Logomarca img
    {
        height: 62px;
        width: 50px;
    }

    #Logoname
    {
        padding-bottom: 0px;
        height: 35px !important;
        width: 70px !important;
    }
}

@media screen and (max-width:1200px) and (min-height: 1400px)
{

    #btn button
    {
        padding: 16px 30px 45px 30px;
        font-size: 35px;
    }

    div.card
    {
        width: 50vh;
        height: 20vh;
    }

    div.card h3
    {
        font-size: 44px;
    }

    div.card p
    {
        font-size: 42px;
    }

    div.card button
    {
        font-size: 44px;
    }

    button#About
    {
        padding: 5px 15px;
        font-size: 35px;
    }
}