
/* Definicoes gerais */

:root {
    --maincolor: #3873C4;
    --Bmaincolor: #36b4ee;
    --secondaycolor: #75E189;
    --BoxShadow: drop-shadow(2px 2px 1.5px #333);
    --BTNshadow: drop-shadow(1px 2px 0.5px #222);
}

html
{
    scroll-behavior: smooth;
}

body, ul, li, p 
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

* button
{
    cursor: pointer !important;
}

body
{
    display: block !important;
    height: 1fr;
    background: radial-gradient(var(--maincolor), #1957ff);
}

/* Header */

nav
{
    background-color: #eee;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .Logomarca
{
    flex-wrap: wrap;
    filter:drop-shadow(3px 3px 6px #999);
}

nav section
{
    filter: var(--BoxShadow);
}

.Logomarca
{
    gap: 20px;
    justify-content: left;
    align-items: center;
}

#Logoname
{
    padding-bottom:23px;
}

nav section
{
    display: grid;
    gap: 20px;
}

nav input, nav button
{
    background-color: #ccc;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 5px 20px;
}

nav button#denuncia
{
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

nav button#Logomarca
{
    background-color: inherit;
    border: 0px;
    border-radius: 0;
}

.Searchbar
{
    justify-self: right;
    width: max-content !important;
}

input
{
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    height: 30px;
    width: 400px;
}

div#btn
{
    display: flex;
    gap: 20px;
    justify-content: right;
}

button#About .fa-circle-info
{
    font-size: 22px;
    color: var(--maincolor);
    text-shadow: 1px 1px 0px #222;
}

.report, .about, .search
{
    justify-self: right;
}

button#openSearch
{
    display: none;
}

.report button, #About, #openSearch
{ 
    display: flex;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 15px;
    gap: 10px;
}

.report .fa-flag
{
    color: rgb(192, 39, 39) !important;
    text-shadow: 2px 2px 3px #222;
}

button:hover:not(#Logomarca)
{
    filter:brightness(90%);
}

/* Conteudo pricipal */

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    padding: 40px 80px;
}

main section#btn
{
    display: flex;
    padding-left: 98%;
    gap: 12px;
}

button:hover
{
    filter: none;
}

main section button
{
    font-weight: bold;
    display: flex;
    justify-content:center;
    width: 40px;
    height: 35px;
    filter: var(--BTNshadow);
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 7px 10px;
}

div#cardbox
{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px 40px;
    padding-top: 10px;
    padding-bottom: 50px;
}

div.card
{
    width: 20vw;
    height: calc(25vh + 50px);
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    overflow-y: auto;
    border-radius: 12px;
    border: 2px solid #222;
    padding: 0px 18px;
    background-color: white;
    filter: var(--BoxShadow);
    align-items: flex-end;
}


div.card h3
{
    position: relative;
    align-self: flex-start;
    width: 100%;
}

div.text 
{
    align-self: start;
}

div.card div.btn
{
    width: 100%;
    display: flex;
    justify-content: right;
}

div.card button
{
    margin: 20px 20px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--Bmaincolor);
    filter: var(--BTNshadow);
    border: 2px solid #222;
    border-radius: 10px;
    padding: 10px 12px;
}

footer
{
    width: 10%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 60px 0px;
}

/*Rodape*/
footer button
{
    filter: var(--BTNshadow);
    position: fixed;
    transform: translate(100%, 0%);
    font-weight: bold;
    display: flex;
    justify-content:center;
    width: 40px;
    height: 35px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 7px 10px;
}

@media screen and (max-width: 1500px) 
{
    div#cardbox
    {
        grid-template-columns: repeat(2, 1fr);
    }

    div.card
    {
        height: 30vh;
        width: 30vw;
    }
}

@media screen and (max-width:1200px)
{

    div#cardbox
    {
        grid-template-columns: repeat(1, 1fr);
    }

    nav input
    {
        width: 300px;
    }
}

@media screen and (max-width: 1000px) and (max-height: 450px) 
{
    div.card
    {
        height: 60vh;
    }
}

@media screen and (max-width:800px) 
{
    div.card
    {
        width: 70vw;
    }

    nav input
    {
        width: 255px;
    }
}

@media screen and (min-width:571px)
{
    form input
    {
        display: block !important;
        position: initial !important;
        transform: none !important;
    }
}

@media screen and (max-width:570px)
{

    div.card
    {
        height: 45vh;
    }

    form input
    {
        display: none;
        transform: translate(-297px, 10px);
    }

    #navbar
    {
        gap:0px;
    }

    div#btn
    {
        padding-top: 20px;
    }

    button#About, span button#denuncia, button#openSearch
    {
        display: flex;
        justify-content: center;
        height: 42px;
        width: 42px;
        font-size: 22px;
        padding: 8px 10px;
    }

    .Logomarca
    {
        margin: 0px;
        padding: 0px;
    }

    #Logomarca img
    {
        height: 62px;
        width: 50px;
    }

    #Logoname
    {
        padding-bottom: 10px;
        height: 35px !important;
        width: 70px !important;
    }
}

@media screen and (max-width:380px)
{
    nav section button
    {
        font-size: 18px !important;
        width: 34px !important;
        height: 34px !important;
    }

    button#About i
    {
       line-height: 15px !important;
    }
}

@media screen and (max-width:370px)
{
    nav
    {
        display: block !important;
    }

    nav input
    {
        width: 200px !important;
        transform: translate(-190px, 10px) !important;
    }

    span.Logomarca
    {
        display: flex;
        justify-content: center;
    }

    section#navbar
    {
        justify-content: center;
    }
}

@media screen and (max-width:1200px) and (min-height: 1400px)
{

    #btn button
    {
        padding: 16px 30px 45px 30px;
        font-size: 35px;
    }

    div.card
    {
        width: 50vh;
        height: 20vh;
    }

    div.card h3
    {
        font-size: 44px;
    }

    div.card p
    {
        font-size: 42px;
    }

    div.card button
    {
        font-size: 44px;
    }

    button#About
    {
        padding: 5px 15px;
        font-size: 35px;
    }
}

@media screen and (max-height:570px) 
{
    div.card
    {
        height: 55vh;
    }  
}


@media screen and (max-height:460px) 
{
    div.card
    {
        height: 70vh;
    }  
}

@media screen and (max-height:400px) and (max-width:1000px) 
{
    div.card
    {
        width: 35vw;
        height: 92vh;
    }  
}