
:root {
    --maincolor: #3873C4;
    --secondaycolor: #75E189;
}

body, ul, li, p 
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body
{
    height: 1fr;
    background-color: var(--maincolor);
}

nav
{
    background-color: #eee;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .Logomarca , nav section
{
    flex-wrap: wrap;
    filter:drop-shadow(5px 5px 5px #999);
}

.Logomarca
{
    gap: 20px;
    justify-content: left;
    align-items: center;
}

#Logoname
{
    padding-bottom:12px;
}

nav section
{
    display: grid;
    gap: 20px;
}

nav input, nav button
{
    background-color: #ccc;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 5px 10px;
}

input
{
    width: 400px;
}

.Profile
{
    align-self: center;
    justify-self: right;
}

.Profile button
{ 
    border-radius: 50px;
    padding: 12px 15px;
}

.Profile .fa-user
{
    color: #1f1f1f;
    filter: drop-shadow(5px 5px 5px #444);
}

button:hover
{
    background-color: #aaa;
}

main
{
    height: 200px;
    padding: 40px 80px;
}

textarea
{
    display: block;
    font: 13px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #333;
}

.Editor
{
    justify-content: center;
    padding: 4px 0px 20px 0px;
    gap: 5px;
    display: flex;
}

.Editor button, .Editor select
{
    padding: 5px 10px;
    box-shadow:  3px 3px 3px #333;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
}

.Editor select#Font-Family
{
    width: 120px;
    background-color: #eee;
}