/* Caixas de texto */

.Page
{
    display: block;
}

#Text
{
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    height: calc(100vh - 255px);
}

#markdownText
{
    width: 40vw;
    height: 100%;
    padding: 2px 6px;
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    outline: none;
    letter-spacing: 1px;
    font-size: 12px;
    border-radius: 8px 0 0 0px;
    border: 2px solid #171242;
    border-right: 2px solid #646464;
    box-shadow: -5px 5px 9px #333;
}

#preview
{
    width: 40vw;
    height: 100%;
    padding: 2px 6px;
    white-space: pre-wrap;
    word-break: break-all;
    border-radius: 0 8px 0px 0;
    background-color: white;
    border: 2px solid #171242;
    box-shadow: 5px 5px 9px #333;
    overflow-wrap: break-word;
    overflow-y: auto;
}

/* Botoes da pagina*/

#buttons
{
    justify-content: right;
    padding: 4px 15px 20px 15px;
    gap: 5px;
    display: flex;
}

#buttons button
{
    align-self: center;
    font-size: 20px;
    padding: 5px 10px;
    box-shadow:  2px 2px 6px #444;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
}

#buttons button#save
{
    width: 111px;
    background-color: var(--secondaycolor);
}

@media screen and (max-width:800px)
{
    *
    {
        display: none;
    }
}